{{#section 'js'}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/external/jquery-1.10.1.min.js"><\/script>')</script>
<!-- Migrate -->
<script src="/public/js/external/jquery-migrate-1.2.1.min.js"></script>
<!-- jQuery UI -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- Bootstrap 3-->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<!-- Mobile menu -->
<script src="/public/js/jquery.mobile.menu.js"></script>
<!-- Select -->
<script src="/public/js/external/jquery.selectbox-0.2.min.js"></script>

<!-- Stars rate -->
<script src="/public/js/external/jquery.raty.js"></script>
<!-- Swiper slider -->
<script src="/public/js/external/idangerous.swiper.min.js"></script>
<!-- Magnific-popup -->
<script src="/public/js/external/jquery.magnific-popup.min.js"></script>

<!--*** Google map  ***-->
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<!--*** Google map infobox  ***-->
<script src="/public/js/external/infobox.js"></script>

<!-- Share buttons -->
<script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525fd5e9061e7ef0"></script>

<!-- Form element -->
<script src="/public/js/external/form-element.js"></script>
<!-- Form validation -->
<script src="/public/js/form.js"></script>

<!-- Custom -->
<script src="/public/js/custom.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        init_MoviePage();
        init_MoviePageFull();
    });
</script>
{{/section}}

{{#section 'wrap'}}
<div class="wrapper">

    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading">{{movie.name}}</h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">
                            <span class="movie__rating">5.0</span>
                            <img alt='' src="{{movie.image}}">
                        </div>
                        <div class="movie__rate">Your vote: 5
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time"></p>{{movie.time}} min</p>

                        <p class="movie__option"><strong>Country: </strong><a href="#">{{movie.country}}</a></p>, <a
                            href="#">USA</a></p>

                        <p class="movie__option"><strong>Category: </strong><a href="#">{{movie.type}}</a>, <a
                                href="#">Fantazy</a></p>
                        <p class="movie__option"><strong>Release date: </strong>{{movie.day_start}}</p>
                        <p class="movie__option"><strong>Director: </strong><a href="#">{{movie.director}}</a></p>
                        <p class="movie__option"><strong>Actors: </strong><a href="#">{{movie.cast}}</a></p>

                        <a href="#" class="comment-link">Comments: 15</a>

                        <div class="movie__btns movie__btns--full">
                            <a href="#" class="btn btn-md btn--warning">book a ticket for this movie</a>
                            <a href="#" class="watchlist">Add to watchlist</a>
                        </div>

                        <div class="share">
                            <span class="share__marker">Share: </span>
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">Content</h2>

                <p class="movie__describe">{{movie.content}}</p>


            </div>

            <h2 class="page-heading">showtime &amp; tickets</h2>
            <div class="choose-container">
                <a href="#" id="map-switch" class="watchlist watchlist--map watchlist--map-full"><span
                        class="show-map">Show cinemas on map</span><span class="show-time">Show cinema time
                        table</span></a>

                <div class="clearfix"></div>

                <div class="time-select">
                    <div class="time-select__group group--first">
                        <div class="col-sm-4">
                            <p class="time-select__place">Cineworld</p>
                        </div>
                        <ul class="col-sm-8 items-wrap">
                            <li class="time-select__item" data-time='09:40'>09:40</li>
                            <li class="time-select__item" data-time='13:45'>13:45</li>
                            <li class="time-select__item active" data-time='15:45'>15:45</li>
                            <li class="time-select__item" data-time='19:50'>19:50</li>
                            <li class="time-select__item" data-time='21:50'>21:50</li>
                        </ul>
                    </div>
                </div>

                <!-- hiden maps with multiple locator-->
                <div class="map">
                    <div id='cimenas-map'></div>
                </div>
            </div>
        </div>

    </section>

    <div class="clearfix"></div>
</div>
{{/section}}
<div class="overlay overlay-hugeinc">

    <section class="container">

        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="overlay-close">Close</button>
            <form id="login-form" class="login" method='get' novalidate=''>
                <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                <div class="social social--colored">
                    <a href='#' class="social__variant fa fa-facebook"></a>
                    <a href='#' class="social__variant fa fa-twitter"></a>
                    <a href='#' class="social__variant fa fa-tumblr"></a>
                </div>

                <p class="login__tracker">or</p>

                <div class="field-wrap">
                    <input type='email' placeholder='Email' name='user-email' class="login__input">
                    <input type='password' placeholder='Password' name='user-password' class="login__input">

                    <input type='checkbox' id='#informed' class='login__check styled'>
                    <label for='#informed' class='login__check-info'>remember me</label>
                </div>

                <div class="login__control">
                    <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                    <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                </div>
            </form>
        </div>

    </section>
</div>